<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chazz AI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_ID }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ GA_ID }}');
  </script>
</head>
<body>
  <div class="card">
    <div id="form-write" class="form-content active">
      <div class="form-group">
        <textarea id="context" placeholder="CONTEXTE"></textarea>
        <textarea id="message" placeholder="MESSAGE"></textarea>
      </div>
      <div class="form-group">
        <label for="mode">Sélectionner l'option :</label>
        <select id="mode">
          <option value="rewrite">Réécrire / Améliorer</option>
          <option value="generate">Générer une réponse</option>
        </select>
      </div>
      <button onclick="send()" class="button-validate">Valider</button>
    </div>

    <div id="result-container">
      <div id="result">
        <strong>Suggestion de Chazz :</strong><br>
        <span id="result-text"></span>
        <button onclick="copyResult(this)" class="copy-btn">
          <i class="fa fa-copy"></i>
          <span class="btn-text">Copier</span>
        </button>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
